@charset "UTF-8";

/* Todas as demais mídias */

/* Tipical Device Breakpoints
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: acima de 1200px */

    @media print {

    }

    @media (min-width: 768px) and (max-width: 992px) {      /* Tablets Portrait */
        body {
            background: black url(../imagens/back-tablet.jpg) no-repeat;
            background-size: cover;
        }

        #tablet {
            display: block;
        }

        #celular {
            display: none;
        }
    }

    @media (min-width: 993px) and (max-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {     /* Tablets Landscape */
        body {
            background-image: url(../imagens/cev-landscape.jpg);
        }

        #tablet {
            display: block;
        }

        #desktop {
            display: none;
        }

        #celular {
            display: none;
        }
    }

    @media (min-width: 1401px) and (max-width: 1800px){        /* Desktop */
        body {
            background-image: url(../imagens/back-pc.jpg);
        }

        #tablet {
            display: none;
        }

        #desktop {
            display: block;
        }

        #celular {
            display: none;
        }

        #tv {
            display: none;
        }
    }

    @media (min-width: 2500px) {        /* Grandes Telas */
        body {
            background-image: url(../imagens/back-tv.jpg);
        }

        #tablet {
            display: none;
        }

        #desktop {
            display: none;
        }

        #celular {
            display: none;
        }

        #tv {
            display: block;
        }

    }