@charset "UTF-8";

/* Todas as demais mídias */

/* Tipical Device Breakpoints
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: acima de 1200px */

    @media print {

    }

    @media (min-width: 768px) and (max-width: 992px) { /* Tablets Portrait */
        body {
            background: black url(../imagens/back-tablet.jpg) no-repeat;
            background-size: cover;
        }
    
        #tablet {
            display: block;
        }
    
        #celular, #desktop, #tv {
            display: none;
        }
    }
    
    @media (min-width: 993px) and (max-width: 1366px) { /* Tablets Landscape e Notebooks Pequenos */
        body {
            background-image: url(../imagens/cev-landscape.jpg);
        }
    
        #tablet {
            display: block;
        }
    
        #desktop, #celular, #tv {
            display: none;
        }
    }
    
    @media (min-width: 1367px) and (max-width: 1799px) { /* Desktop */
        body {
            background-image: url(../imagens/back-pc.jpg);
        }
    
        #desktop {
            display: block;
        }
    
        #tablet, #celular, #tv {
            display: none;
        }
    }
    
    @media (min-width: 1800px) { /* Grandes Telas */
        body {
            background-image: url(../imagens/back-tv.jpg);
        }
    
        #tv {
            display: block;
        }
    
        #tablet, #desktop, #celular {
            display: none;
        }
    }
    